streamlit
numpy
spacy
transformers
torch
torchvision
torchaudio
nltk
scikit-learn
googletrans==4.0.0-rc1
pandas
wordcloud
matplotlib
GingerIt
speechrecognition
gtts
joblib
language-tool-python
pyttsx3
